{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/authorise.css' %}">
{% endblock %}

{% block content %}
<div class="form-page-wrapper">
    <div class="form-content">
        <h2>Create Your HealthConnect Account</h2>
        
        {% if messages %}
            <ul class="messages" style="list-style-type: none; padding: 0;">
                {% for message in messages %}
                <li class="{{ message.tags }}" style="color: red; margin-bottom: 10px;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <label for="signup-name-first">First Name</label>
            <input type="text" id="signup-name-first" name="first_name" required>
            
            <label for="signup-name-last">Last Name</label>
            <input type="text" id="signup-name-last" name="last_name" required>
            
            <label for="signup-name-other">Other Names</label>
            <input type="text" id="signup-name-other" name="other_names">
            
            <label for="signup-email">Email Address</label>
            <input type="email" id="signup-email" name="email" required>
            
            <label for="signup-username">Username</label>
            <input type="text" id="signup-username" name="username" required> 
            
            <label for="signup-password">Password</label>
            <div class="password-wrapper">
                <input type="password" id="signup-password" name="password" required style="width: 100%; padding-right: 45px;">
                <button type="button" id="toggleSignupPassword" class="toggle-btn">
                    <svg id="eyeIcon" viewBox="0 0 24 24">
                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                    </svg>
                </button>
            </div>
            
            <button type="submit" class="form-submit-btn">Sign Up</button>
        </form>
        <p style="text-align: center; margin-top: 15px;">
            Already have an account? <a href="{% url 'login' %}">Log In</a>
        </p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/signup.js' %}"></script>

{% endblock %}