* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edf0f2;
}


.main-header {
    background-color: #dfdbdb;
    box-shadow: 0 2px 4px rgba(149, 148, 148, 0.1); 
    padding: 4px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0px 5px 0px 5px;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.logo-group {
    display: flex;
    align-items: center; 
}


.logo {
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    letter-spacing: -0.5px;
    margin-top: 0; 
    transition: color 0.3s ease;
    margin-left: 10px;
    line-height: 1.1;
    margin-bottom: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo-image {
    height: 100px;
    width: auto;
    border-radius: 15px;

}


.logo:hover {
    color: #0056b3;
}


.main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-weight: 700;
    
    
}

.main-nav li {
    margin: 0 15px;
    font-size: 16px;
   
}

.nav-link {
    text-decoration: none;
    color: #343a40;
    font-size: 26px;
    padding: 10px 0;
    transition: color 0.3s ease;
    
}

.nav-link:hover,
.nav-link.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}


.cta-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    
}

.cta-button:hover {
    background-color: #1e7e34;
    transform: translateY(-1px);
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 15px; 
}


.auth-link {
    text-decoration: none;
    

    font-size: 16px; 
    
    font-weight: 600; 
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    

    padding: 8px 15px; 
    
    border-radius: 10px; 
    border: 2px solid transparent; 
}


.auth-link .icon {
    font-size: 18px;
    margin-right: 5px;
}


#login-modal-btn {
    background-color: #007bff; 
    color: white; 
    border-color: #007bff;
}

#login-modal-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
    transform: translateY(-1px);
}

#login-modal-btn .icon {
    color: white;
}

.signup-btn {
    background-color: transparent;
    color: #007bff; 
    border: 2px solid #007bff;
}

.signup-btn:hover {
    background-color: #007bff; 
    color: white; 
    transform: translateY(-1px);
}